body {
  font-family: 'Marck Script', cursive;
  text-align: center;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5 ,h6 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.navbar {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size:20px;
}

.nav-link{
  color:black !important;
}

.row {
  margin-bottom:2%;
  padding: 6px 0px 6px 0px;
}

.public-lot-text-container {
  padding-top:4%;
  /*text-align:left;*/
}

.public-lot-price-container {
  /*width:40%;*/
  /*float:left;*/
  }

.public-lot-description {
  font-size: 20px;
}

.public-lot-title {
  font-weight: bold;
  font-size: 1.8em;
}

.public-lot-price {
  font-size: 2em;

}

.public-lot-image-container {
  text-align:center;
}

.public-lot-image-container {
  text-align:center;
}

.public-lot-image-border {
  padding: 6px;
  border-radius:10px;
  border: 2px solid darkgrey;
  display: inline-block;

}

.image-grad-teal {
  background: linear-gradient(145deg, #00b593, #005e4d);
}

.image-grad-yellow {
  background: linear-gradient(145deg, #EBBB40, #AF7728);
}

.public-lot-image {
  height:150px;
  border-radius:10px;
  border: 2px solid darkgrey;
}

.thumbnail{
  height: 80px;
  margin: 0 auto;
}

.public-lot-items img {
  text-align: center;
}

@media (min-width: 768px) {
  #manage-nav {
    float: right;
  }
}

.title{
  font-size:50px;
  font-family:pacifico;
  vertical-align: bottom;
}

.logo img{
  width:70px;
}

.row1{
  margin-bottom:2px;
}

.page-header{
  font-size:40px;
  border-bottom:none;
}

.auction-logo img{
  width:80px;
}

#public-lot-h {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
