<div class="col-sm-12">
  <div class="row public-lots-header">
      <h2>Current Lots</h2>
  </div>

  {{#each}}
    <div class="row">
      <div class="col-sm-8 public-lot-image-container">
        <div class="public-lot-image-border">
          {{#link-to 'publicLot' this.id}}<img class="public-lot-image"{{bind-attr src=imageURL}} />{{/link-to}}
        </div>
      </div>

      <div class="col-sm-4 public-lot-text-container">
        <div class="col-sm-8 public-lot-title-description-container">
          <span class="public-lot-title">
            {{title}}
          </span>
          <div class="public-lot-description">
              {{description}}
          </div>
        </div>

        <div class="col-sm-4 public-lot-price-container">
          <span class="public-lot-price">
            {{startPrice}}
          </span>
        </div>
      </div>
    </div>
  {{/each}}

</div>
